# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk



#==============================
#     Unity Ignored Files   
#==============================



*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.DS_store


# Unity InTheDark project folder
#
InTheDark/Temp/
InTheDark/Library
InTheDark/Obj/


# Unity BasketShooter project folder
#
Basket Shooter/Temp/
Basket Shooter/Library
Basket Shooter/Obj/

# Unity Cardboard folders
#
*Basket Shooter/Assets/GoogleVR/
*Basket Shooter/Assets/Plugins/
*GVR setup/